<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1> Notes </h1>

            <textarea rows="4" cols="50" name="comment" form="usrform" id="myText">Enter text here...</textarea><br><br>

            <button id="create-note">Create</button>

            <ul id="list"></ul>
            <ul id='content'></ul>
        <script src="../src/notes.js"></script>
        <script src="interface.js"></script>

    </body>
</html>
