body {
  /* text-align: center; */
  /* linear-gradient(-45deg, #a35943, #bd9043a6, #2d97bea2, #2eac8fa8),  */
  background-image: url(notebook.jpeg);
  background-size: 100%;
  /* animation: gradient 10s ease infinite; */
  font-family: 'Indie Flower', cursive;
}

.innerbody {
  margin: 100px 300px;
  padding: 50px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

@keyframes gradient {
	0% {
		background-position: 75% 75%, 0% 0%;
	}
	50% {
		background-position: 25% 25%, 0% 0%;
	}
	100% {
		background-position: 75% 75%, 0% 0%;
	}
}

.tab {
  font-size: 0px;
  /* display: inline-block; */
  padding-top: 0px;
  float: left;
  /* border: 1px solid #ccc;*/
  background-color: blue;
  /* width: 30%;
  height: 300px; */
  /* overflow-y: scroll; */
  border-radius: 5px;
}

button {
  float: center;
  border-radius: 8px;
  background-color: none;
}


textarea {
  left: 0;
  background: transparent;
  width: 30%;
  border: none;

}

textarea:focus {outline: none; }

.tab button {
  /* display: inline-block; */
  /* background-color: rgb(255, 255, 255); */
  color: black;
  padding: 20px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px; 
  font-weight: bold;
  border-radius: 5px;
}

.tab button:hover {
  /* background-color: rgba(244, 241, 98, 0.708); */
}

.tab button.active {
  /* background-color: rgb(125, 123, 7); */
}

/* Style the tab content */
.tabcontent {
  /* background-color: #ffffff8e; */
  float: left;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 30%;
  border-left: none;
  height: 300px;
  /* overflow-y: scroll; */
  border-radius: 5px;
  margin-left: 200px;
}

ul {
  padding-top: 0px;
  padding-left: 0px;
}

button#1{
  background-color: none;
}

#create-note {
  display:block;
}

p {
  font-size: 20px;
}