html { 
  background: url(notebook.jpeg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Indie Flower', cursive;

}

.innerbody {
  height: 70%;
  width: 60%;
  margin-top: 100%;
  margin: auto;
  padding: 50px;
  padding-left: 100px;
  overflow: hidden;
}

h1 {
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  display: inline;
}

.tab {
  padding-top: 0px;
  top: 10%;
  margin: 0;
  padding: 0;
  width: 200px;
}

ul#list{
  padding: 0;
  display: inline;
  text-align: left;
  float: left;
  height: 300px;
  width: 40%;
  overflow-y: scroll;

}

button {
  float: center;
  border-radius: 8px;
  background-color: transparent;
  font-family: 'Indie Flower', cursive;
}


textarea {
  left: 0;
  background: transparent;
  width: 40%;
  border: none;
  font-size: 1vw;

}



.tab button {
  display: inline-block;
  color: black;
  border: none;
  outline: none;
  cursor: grab;
  font-size: 2vw; 
  font-weight: bold;
}

button:hover{
  text-decoration: underline;
}


/* Style the tab content */
.tabcontent {
  position: relative;
  top: -50px;
  padding: 12%;
  min-width: 200px;
  min-height: 200px;
}

#content{
  top: -100px;
  position: relative;
  padding-left: 5%;
  max-height: 450px;
  overflow-y: scroll;
}

button {
  display: block;
  border: none;
  margin-top: 20px;
  font-size: 1.5vw;
}

input:focus, textarea:focus, select:focus, button:focus{
  outline:none;
}

#create-note {
  display: inline-block;
  border: 1px solid black;
  font-size: 1vw;
}

p {
  font-size: 1.5vw;
}
